<div class="container">
  <style>
    .long-content {
      background-color: #ededed;
      padding: 1em;
      flex: 1;
    }
  </style>
  <div class="nibr-header">
    <div class="app-name">App Name</div>
    <button nxSliderToggle [state]="sliderOne" class="toggle-button">?</button>
    <button nxSliderToggle [state]="sliderTwo" class="toggle-button">!</button>
    <div class="user-name">User Name</div>
  </div>

  <div class="wrapper" style="display: flex;">
    <div
      style="flex:1 1 50%; border-right: 1px solid; padding: 1em; overflow: auto;"
    >
      <nx-slider [maxWidth]="100" [mode]="0" [state]="sliderOne">
        <div class="long-content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad labore
          dolores ipsa eius ducimus. Tempora accusantium quo asperiores atque
          impedit, quisquam officia eligendi ex placeat, eveniet ut esse quam
          veniam?
        </div>
      </nx-slider>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad labore
      dolores ipsa eius ducimus. Tempora accusantium quo asperiores atque
      impedit, quisquam officia eligendi ex placeat, eveniet ut esse quam
      veniam?
    </div>
    <div style="flex:1 1 50%; padding: 1em; overflow: auto;">
      <nx-slider [maxWidth]="100" [mode]="1" [state]="sliderTwo">
        <div class="long-content">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad labore
          dolores ipsa eius ducimus. Tempora accusantium quo asperiores atque
          impedit, quisquam officia eligendi ex placeat, eveniet ut esse quam
          veniam?
        </div>
      </nx-slider>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad labore
      dolores ipsa eius ducimus. Tempora accusantium quo asperiores atque
      impedit, quisquam officia eligendi ex placeat, eveniet ut esse quam
      veniam?
    </div>
  </div>
</div>
