<!-- The content below is only a placeholder and can be replaced. -->
<div class="page">
  <header class="header"></header>
  <main class="body">
    <div>
      <nx-slider [maxWidth]="350"><div class="blue"></div></nx-slider>
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? <br />
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? <br />
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? <br />
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? <br />
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? <br />
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? <br />
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? <br />
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? <br />
      <button nxSliderToggle>toggle</button> <br />
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quia,
      praesentium nesciunt suscipit hic temporibus optio? Blanditiis deserunt
      quos, maxime illum inventore aliquam quasi quisquam minus consequuntur
      porro perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto? Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Unde quia, praesentium nesciunt suscipit hic temporibus
      optio? Blanditiis deserunt quos, maxime illum inventore aliquam quasi
      quisquam minus consequuntur porro perferendis architecto? Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Unde quia, praesentium
      nesciunt suscipit hic temporibus optio? Blanditiis deserunt quos, maxime
      illum inventore aliquam quasi quisquam minus consequuntur porro
      perferendis architecto?
    </div>
  </main>
  <footer></footer>
</div>
