
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.nibr-header {
  height: 36px;
  background-color: #0460A9;
  display: flex;
  justify-content: flex-end;
}
.app-name {
  margin-right: auto;
  color: white;
  align-self: flex-end;
  padding: 10px 10px 5px 10px;
}
.user-name {
  margin-right: 10px;
  color: white;
  align-self: flex-end;
  padding: 10px 10px 9px 5px;
}
.toggle-button {
  border: none;
  background: none;
  color: white;
  font-weight: 500;
  font-size: 1em;
  position: relative;
  width: 36px;
  cursor: pointer;
}
.toggle-button[nx-slider-open], .toggle-button:hover, .toggle-button:active {
  color: #0460A9;
  background-color: white;
}
.wrapper {
  flex: 1;
  position: relative;
}
.content {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.top, .bottom, .middle {
  background-color: #D13A32;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.middle {
  background-color: #EDEDED;
  color: black;
  flex: 1;
}